<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>计算器</title>
    <link rel="stylesheet" type="text/css" href="/static/calculator.css" />
    <script language="JavaScript" src="/static/jquery-3.3.1.js"></script>
    <script language="JavaScript" src="/static/calculator.js"></script>
</head>
<body>
    <table>
        <h2>计算器</h2>
        <tr><td colspan="4"><label>0</label></td></tr>
        <tr>
            <td class="control">(</td>
            <td class="control">)</td>
            <td class="control">%</td>
            <td class="symbol" id="clear">C</td>
        </tr>
        <tr>
            <td class="number">7</td><td class="number">8</td><td class="number">9</td>
            <td class="control">*</td>
        </tr>
        <tr>
            <td class="number">4</td><td class="number">5</td><td class="number">6</td>
            <td class="control">/</td>
        </tr>
        <tr>
            <td class="number">1</td><td class="number">2</td><td class="number">3</td>
            <td class="control">+</td>
        </tr>
        <tr>
            <td class="number">0</td>
            <td class="control">.</td>
            <td class="symbol" id="eval">=</td>
            <td class="control">-</td>
        </tr>

    </table>
</body>
</html>