<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日要闻</title>
    <script language="JavaScript" src="/static/jquery-3.3.1.js"></script>
    <script language="JavaScript" src="/static/get_news.js"></script>
</head>
<body>
    <div class="news_list">
        <select id="skip">
        <option value="0">第1页</option>
        <option value="1">第2页</option>
        <option value="2">第3页</option>
        <option value="3">第4页</option>
        <option value="4">第5页</option>
        <option value="5">第6页</option>
        <option value="6">第7页</option>
        <option value="7">第8页</option>
        <option value="8">第9页</option>
        <option value="9">第10页</option>
    </select>
    </div>
</body>
</html>